@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Exo+2');


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: rgb(228, 228, 228);
  scroll-behavior: smooth;
  background: #111112;
  background: -webkit-linear-gradient(90deg,#111112,#232526);
  background: -webkit-linear-gradient(left,#111112,#232526);
  background: linear-gradient(90deg,#111112,#232526);
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(187, 55, 55,0.8);
  -webkit-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
  -moz-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
       box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: white;
  display: block;
  margin: 0.3rem 0;
}


.main-header__brand img {
  height: 2rem;
  vertical-align: middle;
}

.nav_items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 0 1rem;
}

.nav-item a,
.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.2rem 0;
}

.nav-item a:hover,
.nav-item a:active,
.mobile-nav__item a:active,
.mobile-nav__item a:hover {
  color: white;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: #bb3737;
  width: 50%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  display: table;
  font-family: 'Exo 2', sans-serif;
  border-bottom: 5px solid #bb3737;
  outline: none;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.content {
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.greet {
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.greet h1 {
  font-family: 'Roboto',sans-serif;
  font-size: 4rem;
  margin-top: 8rem;
}

.content h1 i {
  font-size: 6rem;
  width: 100%;
}

.greet h2 {
  margin: 2.5rem 0 6rem 0;
  font-weight: 100;
}

.skills-container {
  display: flex;
  flex-flow: row wrap;
  width: 95%;
  align-content: center;
  justify-content: space-evenly;
  margin: 1.8rem auto;
  max-width: 750px;
}

.skills-container .skill-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  box-sizing: border-box;
  min-width: 120px;
}

.skills-container .skill-cards:hover *{
  color: #bb3737;
}

.skills-container .skill-cards i {
  font-size: 3rem;
  transition: all ease 300ms;
}

.skills-container .skill-cards h3 {
  font-size: 1.2rem;
  font-weight: 100;
  margin: auto;
  transition: all ease 300ms;
}

.arrow.bounce a { 
  color: rgb(216, 216, 216); 
  text-decoration: none;
  transition: color ease 300ms;
}

.arrow.bounce a:hover { 
  color: silver; 
}

.arrow {
  text-align: center;
  padding: 7% 0;
  text-decoration: none;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.aboutme-body {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  font-family: 'Baron Neue',sans-serif;
  background: #fff;
  color: #0b0b0c;
  align-items: center;
  justify-content: center;
}

.aboutme-body h2 {
  font-size: 4rem;
  color: #0b0b0c;
  padding: 0 0 2rem 0;
  text-align: center;
  position: relative;
}

.aboutme-body h2:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 5px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  background-color: #bb3737;
}

.aboutme-body .col-container {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  align-content: center;
  justify-content: space-evenly;
}

.aboutme-body .col-left, .aboutme-body .col-right {
  width: 100%;
  max-width: 1140px;
  height: 100%;
  min-width: 400px;
  vertical-align: middle;
}

.aboutme-body p {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
  padding: 0 3rem;
}

.aboutme-body p .full-stack {
  display: inline;
  color: #bb3737;
}

.projects-body {
  width: 100%;
  margin: auto;
  display: table;
  background: rgb(241, 241, 241);
  border-bottom: 5px solid #bb3737;
  color: #0b0b0c;
}

.projects-body h2 {
  text-transform: uppercase;
  font-size: 4rem;
  color: #0b0b0c;
  margin: 6rem 0 0 0;
  padding: 0 0 2rem 0;
  text-align: center;
  position: relative;
}

.projects-body h2:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 5px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  background-color: #bb3737;
}

.projects-container {
  display: flex;
  flex-flow:  wrap;
  width: 80%;
  margin: 3rem auto 6rem auto;
}

.projects-container h2 {
  color: #0b0b0c;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  -webkit-box-shadow: 10px 10px 31px -9px rgba(0,0,0,0.6);
  -moz-box-shadow: 10px 10px 31px -9px rgba(0,0,0,0.6);
  box-shadow: 10px 10px 31px -9px rgba(0,0,0,0.6);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  height: 300px;
  width: 100%;
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card a:hover {
  color: #bb3737;
}

.card:hover .photo {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
          filter: blur(2.5px)
}

#uhostp {
  background:url("img/uhost8.png");
  background-size: auto;
}
#robofriendsp {
  background:url("img/robofriends3.png");
}

#fca {
  background:url("img/fr6.png");
}

.card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}

.card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.card .details,
.card .details ul {
    font-family: 'Exo 2', sans-serif;
    margin: auto;
    padding: 0;
    list-style: none;
    font-size: 15px
}

.card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -110%;
  margin: auto;
  transition: left .2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: .9rem;
}

.card .details .tags li {
  margin-right: 2px;
}

.card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.card .description h3,
.card .description h3 {
    font-family: 'Exo 2', sans-serif;
}

.card .description h3 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.card .description .project-links a {
  color: #bb3737;
  display: inline-block;
  margin: 0 5px;
  margin-bottom: 0.4rem;
  padding: 7px;
  border: #bb3737 2px solid;
  border-radius: 7px;
}

.card .description .project-links {
  position: absolute;
  left: 0;
  bottom: 0;
}

.card .description .project-links .disabled {
  opacity: 0.35; 
  cursor: not-allowed;
}

.card .description .featured {
  position: absolute;
  right: 120px;
  bottom: 60px;
}

.card .description .featured .featured-card {
  position: absolute;
  display: block;
  transform: rotate(-45deg);
  width: 160px;
  padding: 10px 0;
  background-color: #bb3737;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  color: #fff;
  font-weight: 600;
}

.card p {
  display: inline-block;
}

.card p.desc {
  position: relative;
  margin-top: 4rem;
  display: inline-block;
  height: 80px;
}

.card p:first-of-type {
  margin-top: 1.25rem;
}

.card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #bb3737;
  width: 35px;
  top: -0.75rem;
}

.card:hover .details {
  left: 0%;
}

.contact-body {
  margin: auto;
  width: 100%;
  justify-content: center;
  padding-top: 1rem;
  text-align: center;
}

.contact-body h2 {
  text-transform: uppercase;
  font-size: 4rem;
  color: #fff;
  margin: 6rem 0 0 0;
  padding: 0 0 2rem 0;
  text-align: center;
  position: relative;
}

.contact-body h2:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 5px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  background-color: #bb3737;
}

.contact-body .col-container {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  align-content: center;
  justify-content: space-evenly;
  margin: 3rem auto 0 auto;
}

.contact-body .col-left, .contact-body .col-right {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}


.btn {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 8px 15px -5px black;
  color: #0b0b0c;
  overflow: hidden;
  position: relative;
}

.btn i {
  line-height: 90px;
  font-size: 2rem;
  transition: 0.2s linear;
}

.btn:hover i {
  transform: scale(1.2);
  color: #f1f1f1;
}

.btn::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background: #bb3737;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before {
  animation: bganim 0.7s 1;
  top: -10%;
  left: -10%;
}

.contacts-container p {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.3rem;
}

.contacts-container p .brown {
  display: inline;
  color: #bb3737;
}

footer {
  width: 100%;
  justify-content: center;
  margin: 1rem auto;
  font-family: 'Exo 2',sans-serif;
  text-align: center;
}

.brown {
  display: inline;
  color: #bb3737;
  font-weight: bold;
  font-size: 1.2rem;
}

.open {
  display: block !important;
}

@keyframes bganim {
  0% {
      top: 90%;
      left: -110%;  
  }
  50% {
      top: -30%;
      left: 10%;  
  }
  100% {
      top: -10%;
      left: -10%;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Media Queries */
@media screen and (max-width: 900px){
  .navbar-desktop {
    display: none;
  }
  .content {
      padding-bottom: 8%;
  }
  .content h1 {
      font-size: 3.5rem;
      margin-top: 7rem;
  }
  .content h1 i {
      font-size: 5rem;
  }
  .content h2 {
      margin-bottom: 5rem;
  }
  .skills-container {
      margin: 1.5rem auto;
  }
  .skills-container .skill-cards {
      margin: 3px;
      min-width: 80px;
  }
  .skills-container .skill-cards i {
      font-size: 2.7rem;
  }
  .skills-container .skill-cards h3 {
      font-size: 1.1rem;
  }
  .aboutme-body h2 {
    font-size: 3.5rem;
    margin-top: 1.8rem;
  }
  .aboutme-body p {
    font-size: 1.3rem;
    padding: 0;
  }
  .skills {
    margin-bottom: 5rem;
  }
  .skills li {
    margin: 0.9rem 0;
  }
  .aboutme-body .col-left, .aboutme-body .col-right {
    min-width: 340px;
  }
  .btn {
    width: 70px;
    height: 70px;
  }
  .btn i {
    line-height: 70px;
    font-size: 1.8rem;
  }

  .contacts-container p {
    font-size: 1.1rem;
  }
}


@media screen and (max-width: 768px){
  .navbar-desktop {
    display: none;
  }
  .content {
      padding-bottom: 10%;
  }
  .content h1 {
      font-size: 3.0rem;
      margin-top: 6rem;
  }
  .content h1 i {
      font-size: 4rem;
  }
  .content h2 {
      margin-bottom: 4rem;
  }
  .skills-container {
      margin: 1.3rem auto;
  }
  .skills-container .skill-cards i {
      font-size: 2.4rem;
  }
  .skills-container .skill-cards h3 {
      font-size: 1.0rem;
  }
  .aboutme-body h2 {
    font-size: 2.5rem;
  }
  .aboutme-body p {
    font-size: 1.1rem;
    padding: 0;
  }
  .skills {
    margin-bottom: 4rem;
  }
  .skills li {
    margin: 0.8rem 0;
  }
  .aboutme-body .col-left, .aboutme-body .col-right {
    min-width: 320px;
  }
  .card {
    height: 450px;
  }
  .card p.desc-container {
    margin-top: 2rem;
  }
  .card .description .project-links {
    position: static;
  }
  .btn {
    width: 60px;
    height: 60px;
  }
  .btn i {
    line-height: 60px;
    font-size: 1.6rem;
  }

  .contacts-container p {
    font-size: 0.9rem;
  }
}

@media (min-width: 640px) {
  .card {
    flex-direction: row;
    max-width: 600px;
  }
  .card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .card .description {
    flex-basis: 60%;
  }
  
  .card .description:before {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .card.alt {
    flex-direction: row-reverse;
  }
  .card.alt .description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  .card.alt .details {
    padding-left: 25px;
  }
  .card p {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 400px){
  .navbar-desktop {
    display: none;
  }
  .content {
      padding-bottom: 12%;
  }
  .content h1 {
      font-size: 2.5rem;
      margin-top: 4rem;
  }
  .content h1 i {
      font-size: 4rem;
  }
  .content h2 {
      margin-bottom: 3rem;
  }
  .skills-container {
      margin: 1.2rem auto;
  }
  .skills-container .skill-cards i {
      font-size: 2.1rem;
  }
  .skills-container .skill-cards h3 {
      font-size: 0.9rem;
  }
  .aboutme-body h2 {
    font-size: 1.5rem;
  }
  .aboutme-body p {
    font-size: 0.9rem;
    padding: 0;
  }
  .skills {
    margin-bottom: 3rem;
  }
  .skills li {
    margin: 0.7rem 0;
  }
  .aboutme-body .col-left, .aboutme-body .col-right {
    min-width: 300px;
  }  
  .btn {
    width: 55px;
    height: 55px;
  }
  .btn i {
    line-height: 55px;
    font-size: 1.5rem;
  }

  .contacts-container p {
    font-size: 0.8rem;
  }  
}

@media (min-width: 900px) {
  .toggle-button {
    display: none;
  }
}